_site
.sass-cache
.DS_Store
.ruby-version
node_modules
.jekyll-cache/
.jekyll-cache/*
_posts/~*
startdebug.ps1
.jekyll-metadata
_posts/2021-03-15-Bring-em-all-in-p4.markdown
.vscode/settings.json
_posts/2021-06-17-Azure-Policy-IaC-ADO-p2.markdown
